.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--time-and-style-of-transition),
    visibility var(--time-and-style-of-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* -------------------- modal -------------------- */
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--time-and-style-of-transition);
  transform: translate(-50%, -50%);
}

@media screen and (min-height: 651px) {
  .is-hidden .modal-form {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media screen and (max-height: 650px) {
  .is-hidden .modal-form {
    transform: translate(0, 0) scale(0.8);
  }

  .modal-form {
    position: static;
    margin: 0 auto;
    transform: translate(0, 0) scale(1);
  }
  .backdrop {
    overflow: auto;
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.modal-form {
  width: 408px;
}

@media screen and (max-width: 427px) {
  .modal-form {
    width: 90%;
  }
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;

  transition: background-color var(--time-and-style-of-transition),
    border-color var(--time-and-style-of-transition);
}
.modal-close-button:hover,
.modal-close-button:focus {
  border-color: var(--primary-accent-color-hover);
  background-color: var(--primary-accent-color-hover);
}
.icon-close-modal {
  transition: fill var(--time-and-style-of-transition);
}
.modal-close-button:hover .icon-close-modal,
.modal-close-button:focus .icon-close-modal {
  fill: #ffffff;
}

/* ------------------- form -------------------- */
.form {
  display: flex;
  flex-direction: column;
}
.form-text {
  margin-bottom: 14px;
  color: var(--primary-title-color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.form-input-item {
  margin-bottom: 8px;
}
.form-input-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;

  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.01em;
}
.form-input-wrapper {
  position: relative;
  display: block;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: border-color var(--time-and-style-of-transition);
}
.form-input:focus {
  border-color: var(--primary-accent-color);
  outline: none;
}
.form-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;

  transition: fill var(--time-and-style-of-transition);
  transform: translateY(-50%);
}
.form-input:focus + .form-input-icon {
  fill: var(--primary-accent-color);
}

.form-comment-item {
  margin-bottom: 16px;
}
.form-comment {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  resize: none;

  transition: border-color var(--time-and-style-of-transition);
}
.form-comment:focus {
  border: 1px solid var(--primary-accent-color);
  outline: none;
}
.form-input-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.form-privacy-policy {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.checkbox-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;

  transition: background-color var(--time-and-style-of-transition),
    border-color var(--time-and-style-of-transition);
}

.checkbox-privacy-policy {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}
.privacy-policy-icon {
  opacity: 0;

  transition: opacity var(--time-and-style-of-transition);
}

.checkbox-privacy-policy:checked + .checkbox-border {
  border-color: var(--primary-accent-color);
  background-color: var(--primary-accent-color);
}
.checkbox-privacy-policy:checked + .checkbox-border .privacy-policy-icon {
  opacity: 1;
  fill: #f4f4fd;
}
.checkbox-privacy-policy:focus + .checkbox-border {
  outline: 1px solid rgb(16, 16, 16);
}
.privacy-policy-text {
  color: #757575;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.privacy-policy-link {
  color: var(--primary-accent-color);
}

.form-btn-submit {
  align-self: center;
  min-width: 170px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--time-and-style-of-transition);
}

.form-btn-submit:hover,
.form-btn-submit:focus {
  background-color: #404bbf;
}
