.team {
  min-width: 320px;
  background-color: var(--secondary-background-color-light);
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    justify-content: center;
    column-gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
.team-item {
  max-width: 260px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-desc {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  text-align: center;
}
.team-social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-media-item {
  width: 40px;
}
.team-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);

  transition: background-color var(--time-and-style-of-transition);
}
.team-social-media-link:hover,
.team-social-media-link:focus {
  background-color: var(--primary-accent-color-hover);
}
.team-social-media-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.team-desc .sub-title {
  margin-bottom: 8px;
}
.team-desc .text {
  margin-bottom: 8px;
}
