h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}
