.section-title {
  margin-bottom: 72px;
  color: var(--primary-title-color-dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
